---
import DownloadLink from "@components/DownloadLink";

interface Props {
  items: {
    label: string;
    href?: string;
    shortcut?: string;
  }[];
}

const { items } = Astro.props;
---

<div
  class="dropdown-menu invisible absolute top-6 -ml-2 min-w-[160px] rounded-lg bg-black/80 py-1 opacity-0 backdrop-blur-xl transition-all group-hover:visible group-hover:opacity-100 sm:min-w-[200px]"
>
  {
    items.map((item) =>
      item.href ? (
        <DownloadLink
          client:load
          href={item.href}
          label={item.label}
          shortcut={item.shortcut}
        />
      ) : (
        <span class="flex justify-between px-3 py-1 text-sm text-white/90 sm:px-4 sm:text-base">
          {item.label}
        </span>
      ),
    )
  }
</div>
